.contactItem__inner {
  display: flex;
  justify-content: space-around;
  background-color: rgb(232, 232, 232);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.contactItem__list {
  border-radius: 5px;
  width: 50%;
}
.contactItem__item {
  border-bottom: 1px solid #bdbdbd;
  padding: 10px;
}

.contactItem__item:last-child {
  border-bottom: none;
}

.contactItem__buttons {
  display: flex;
  align-items: center;
}

.contactItem__button {
  height: 30px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  background-color: #2a7383;
}

.contactItem__button:first-child {
  margin-right: 10px;
  background-color: #ce5959;
}
